PureCode1/ASFuelControl.Windows/Service References/SmsService/Service15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.5gsms.com/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExedronSMSService" />
  <xs:import schemaLocation="http://www.5gsms.com/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://www.5gsms.com/Service1.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CampaignModel" />
  <xs:import schemaLocation="http://www.5gsms.com/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ExedronSMSDAL" />
  <xs:element name="SendSms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reciever" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExedronSMSService" minOccurs="0" name="SendSmsResult" nillable="true" type="q1:SmsSendReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBatchSms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="recievers" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBatchSmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExedronSMSService" minOccurs="0" name="SendBatchSmsResult" nillable="true" type="q3:ArrayOfSmsSendReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBatchSmsDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="recievers" nillable="true" type="q4:ArrayOfstring" />
        <xs:element minOccurs="0" name="dtSned" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBatchSmsDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ExedronSMSService" minOccurs="0" name="SendBatchSmsDateResult" nillable="true" type="q5:ArrayOfSmsSendReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmsStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmsStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ExedronSMSService" minOccurs="0" name="GetSmsStatusResult" nillable="true" type="q6:SmsStatusReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmsStatusBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="messageIds" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmsStatusBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ExedronSMSService" minOccurs="0" name="GetSmsStatusBatchResult" nillable="true" type="q8:ArrayOfSmsStatusReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmsBaseStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="messageIds" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmsBaseStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ExedronSMSService" minOccurs="0" name="GetSmsBaseStatusResult" nillable="true" type="q10:ArrayOfSmsBaseStatusReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ExedronSMSService" minOccurs="0" name="GetBalanceResult" nillable="true" type="q11:BalanceReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taxNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taxOffice" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ExedronSMSService" minOccurs="0" name="CreateCustomerResult" nillable="true" type="q12:ServiceReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ExedronSMSService" minOccurs="0" name="GetUsersResult" nillable="true" type="q13:UserReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CampaignModel" minOccurs="0" name="customer" nillable="true" type="q14:CustomerView" />
        <xs:element minOccurs="0" name="balance" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ExedronSMSService" minOccurs="0" name="AddCustomerBalanceResult" nillable="true" type="q15:ServiceReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CampaignModel" minOccurs="0" name="customer" nillable="true" type="q16:CustomerView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ExedronSMSService" minOccurs="0" name="ChangeCustomerResult" nillable="true" type="q17:ServiceReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CampaignModel" minOccurs="0" name="customer" nillable="true" type="q18:CustomerView" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ExedronSMSDAL" minOccurs="0" name="ptype" type="q19:PaymentTypeEnum" />
        <xs:element minOccurs="0" name="fee" type="xs:decimal" />
        <xs:element minOccurs="0" name="vat" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ExedronSMSService" minOccurs="0" name="AddPaymentResult" nillable="true" type="q20:ServiceReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCreditsPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CampaignModel" minOccurs="0" name="customer" nillable="true" type="q21:CustomerView" />
        <xs:element minOccurs="0" name="credits" type="xs:int" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ExedronSMSDAL" minOccurs="0" name="ptype" type="q22:PaymentTypeEnum" />
        <xs:element minOccurs="0" name="fee" type="xs:decimal" />
        <xs:element minOccurs="0" name="vat" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCreditsPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ExedronSMSService" minOccurs="0" name="AddCreditsPaymentResult" nillable="true" type="q23:ServiceReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ExedronSMSService" minOccurs="0" name="CheckUserResult" nillable="true" type="q24:ServiceReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountForCredits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountForCreditsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAmountForCreditsResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditsForAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditsForAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCreditsForAmountResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchases">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CampaignModel" minOccurs="0" name="customer" nillable="true" type="q25:CustomerView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ExedronSMSService" minOccurs="0" name="GetPurchasesResult" nillable="true" type="q26:PurchaseReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMainBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMainBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ExedronSMSService" minOccurs="0" name="GetMainBalanceResult" nillable="true" type="q27:MainBalanceReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CampaignModel" minOccurs="0" name="purchase" nillable="true" type="q28:PurchaseView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePurchaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ExedronSMSService" minOccurs="0" name="DeletePurchaseResult" nillable="true" type="q29:ServiceReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>