ASFuelControl.Windows/Service References/SmsService/Service14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CampaignModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CampaignModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomerView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerView" nillable="true" type="tns:CustomerView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerView" nillable="true" type="tns:ArrayOfCustomerView" />
  <xs:complexType name="CustomerView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Balance" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CellPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditsBalance" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreditsPerEuro" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceListId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxOffice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxRegistrationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerView" nillable="true" type="tns:CustomerView" />
  <xs:complexType name="ArrayOfPurchaseView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseView" nillable="true" type="tns:PurchaseView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchaseView" nillable="true" type="tns:ArrayOfPurchaseView" />
  <xs:complexType name="PurchaseView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentMethodId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessingFee" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PurchaseDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PurchaseId" type="xs:int" />
      <xs:element minOccurs="0" name="PurchasePackageId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SMSCredits" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="VAT" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseView" nillable="true" type="tns:PurchaseView" />
</xs:schema>